<article class="athelas">
    <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(https://images.unsplash.com/photo-1504890231393-71b0d15a05f4?auto=format&fit=crop&w=700&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D)  no-repeat center;">
        <div class="dtc">
            <header class="white">
                <h1 class="f1 f-headline-l fw1 i white">About Charlie</h1>
            </header>
            <div class="white ph7 f2 lh-copy center">
                <p>
                    I decided to take a course in programming because I love to be challenged on a daily basis. One of my biggest fears in life is to be bored and trapped in a job that doesn't challenge me. Immersing myself in a
                    coding bootcamp was one of the best decisions of my life. I hope to take the skills I learn and create some innovative web apps.
                </p>
                <br />
                <p>I grew up in Idaho and went to the University of Idaho in Moscow. After graduating with a B.S in Marketing I found that I wanted to move to a larger city and Seattle was the place I landed.</p>
                <br />
                <p>
                    I've bounced around Seattle doing everything from working on sailboats to hanging Christmas light but eventually I found myself as an in-house IT guy for a small business in Ballard. This is where I started my career in Tech and I've never looked
                    back.
                </p>
            </div>
            <br />
            
            <h3 class="f4 fw1 lh-title">Click to view projects</h3>


            <a href="@Url.Action("Projects")">
                <i class="fa fa-arrow-down fa-5x grow lh-title" aria-hidden="true"></i>
            </a>
            <br>
            <br>
            <br>

            


        </div>
    </div>
