<article class="athelas">
    <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(https://images.unsplash.com/photo-1488723788256-e5f5af74c247?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D)  no-repeat center;">
        <div class="dtc v-mid">
            <header class="white">
                <h2 class="f3 fw1 ttu tracked mb2 lh-title">Welcome</h2>
                <h3 class="f3 fw1 lh-title">to</h3>
            </header>
            <h1 class="f1 f-headline-l fw1 i white">Charlie's Place</h1>
            
            

                <a href="@Url.Action("About")">
                    <i class="fa fa-arrow-down fa-5x grow lh-title" aria-hidden="true"></i>
                </a>
                <br>
                <br>
                <br>

                <p class="white ph5 f4 lh-copy center">
                    "A lot of fun stuff happens when you go out on a bike compared to when you're in a car. You're more in the environment. It's enjoyable. Even when It's raining It's still fun."
                </p>
            

            
        </div>
    </div>
